$bg-primary: #198754;

// @import "/node_modules/bootstrap/scss/functions";
// @import "/node_modules/bootstrap/scss/variables";

.carousel-item {
    height: 32rem;
    background: #777;
    color: white;
    position: relative;
}

.cardbox {
    background-color: #198754;
    height: 100px;
}

.myContent p{
    font-size: 25px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 5px;
    background-color: #c28049;
}
.text-links {
    text-decoration: none;
    color: darkolivegreen;
}
.dt-color {
    background-color: #43886a;
}
.carousel-container {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 50px;
    position:absolute;
    color: black;
    bottom: 200px;
    left: 0;
    right: 0;
    text-align: center;
    text-transform: uppercase;
}
.overlay-image {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    background-position: center;
    background-size: cover;
    opacity: 0.3;
}

@import "../node_modules/bootstrap/scss/bootstrap.scss";